@{
    ViewBag.Title = "About";
}


@*---------------    Start Date and End Date Project Report Complete Form
            Here name=" " ye whi h jo Controller m jayega and model aur Controller m
            Same naam use hoyega
            And Controller Code HttpPost Ka hoyega that accept the interger and String Values
            Yhi Form Submit hoyega
    -----------*@

@* These Two Function to Handle the StartDate and EndDate in the Reports*@


[HttpGet]
public ActionResult Report2()
{
    List< spreport2 > blank=new List<spreport2>();
    
    return View(blank);
}


[HttpPost]
public ActionResult Report2(DateTime StartDate,DateTime EndDate)
{
    List<spreport2> rp2 = new List<spreport2>();
    rp2 = db.Database.SqlQuery<spreport2>("Exec spreport2 @StartDate,@EndDate", new SqlParameter("@StartDate", StartDate), new SqlParameter("@EndDate", EndDate)).ToList();
    return View(rp2);
}

@* 
    This is the Frontend Code For the report to Handle the StartDate and EndDate
 *@
@using (Html.BeginForm())
{
    <div>
        <div class="mt-3">
            <label>Start Date</label>
            <input type="date" name="StartDate" class="form-control" value="@Request.Form["StartDate"]" />
        </div>
        <div class="mt-3">
            <label>End Date</label>
            <input type="date" name="EndDate" class="form-control" value="@Request.Form["EndDate"]" />
        </div>
        <div class="mt-3">
            <button type="submit" class="btn btn-primary">Search</button>
        </div>
    </div>
}

@*
    Here MonthName Shows in the DropDown and note that Value jo Jayegi Controller m vo Interger jayegu
    Month Number so Extract the data based on that Month Number
    ye Example Static Dropdown ka hi h
*@

@using (Html.BeginForm())
{
    <select class="form-control" name="monthno" onchange="this.form.submit()">
        <option value="">Select Month</option>
        <option value="1">January</option>
        <option value="2">February</option>
        <option value="3">March</option>
        <option value="4">April</option>
        <option value="5">May</option>
        <option value="6">June</option>
        <option value="7">July</option>
        <option value="8">August</option>
        <option value="9">September</option>
        <option value="10">October</option>
        <option value="11">November</option>
        <option value="12">December</option>
    </select>
}



@*
    Static DropDown ka code Like Active and Completed
*@
@using (Html.BeginForm())
{
    @* Here Name ke Property Pr hi Database ya HttpPost method m jayegi*@
    <div class="mt-3">
        <select class="form-control" name="Agreement_Status" onchange="this.form.submit();">
            <option value="">Select Status</option>
            <option value="Active">Active</option>
            <option value="Completed">Completed</option>
        </select>
    </div>
}


@* Sample Table ka Code *@
<table class="table table-striped">
    <thead class="fw-bold">
        <tr>
            <td>Property Name that Shown</td>
            <td>Property Name that Shown</td>
            <td>Property Name that Shown</td>
            <td>Property Name that Shown</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Note:- Values are Same as Model Name</td>
                <td>@item.Note:- Values are Same as Model Name</td>
                <td>@item.Note:- Values are Same as Model Name</td>
                <td>@item.Note:- Values are Same as Model Name</td>
            </tr>
        }
    </tbody>
</table>